name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    uses: endobit/ci/.github/workflows/go-lint.yaml@main
  test:
    uses: endobit/ci/.github/workflows/go-test.yaml@main
    secrets: inherit
